@font-face {
  font-family: 'SourceSansPro';
  src: url(~@/assets/fonts/SourceSansPro-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'SourceSansPro';
  src: url(~@/assets/fonts/SourceSansPro-SemiBold.woff2) format('woff2');
  font-weight: 600;
}
    
  