@use "sass:math";

$--yellow-light: #fffefb;
$--red: #FF8484;
$--green: #7BAE73;
$--blue: #49485E;
$--gray: #EEEEEE;
$--gray300: #B4B4B4;
$--gray700: #3F3F3F;
$--white: #FFFFFF;

$--border-radius-base: 4px;
$--border-radius-large: 10px;

$--font-family: 'SourceSansPro', sans-serif;
$--font-weight-semiBold: 600;
$--font-weight-normal: 400;

$--font-size-extra-small: 8px;
$--font-size-small: 10px;
$--font-size-medium: 12px;
$--font-size-base: 16px;
$--font-size-title: 28px;
$--font-size-subtitle: 20px;

$--gutter: 16px;
$--gutter-sm: math.div($--gutter, 2);
$--gutter-md: $--gutter * 1.5;
$--gutter-lg: $--gutter * 2;

$screens: (
  'xxs': 440px,
  'xs':  768px,
  'sm':  1024px,
  'md':  1280px,
  'lg':  1440px,
  'xl':  1920px,
);
